@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
	@apply bg-tertiary-500 text-surface-400 p-8 rounded my-8;
}

.post h2 {
    @apply text-3xl font-bold pb-2 pt-4;
}

.post p {
    @apply mb-4;
}

.post ul {
    list-style: initial;
    margin-left: 2rem;
}
.post li {
    margin-bottom: 1rem;
}
